@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Staatliches&display=swap');
*{
    padding: 0px;
    margin: 0px;
}

body{
    background: #954141;
    animation: fadein 1s normal;
    box-sizing: border-box;
    overflow-x: hidden;
}

@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* Custom Scroll Bar */

body::-webkit-scrollbar{
    width: .2em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 20px whitesmoke;
}

body::-webkit-scrollbar-thumb {
    background-color: #ff4747;
}

/* Navigation Section */

nav{
    position: relative;
    display: flex;
    width: 100vw;
    height: 70px;
    z-index: 2;
    text-align: center;
    justify-content: center;
    background: #020105;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.3);
    flex-direction: column;
}

nav ul a{
    width: 100%;
    height: 100%;
    padding: 0px 5px;
}

nav ul a:hover{
    color: #ff4747;
    border-bottom: 2px #ff4747 solid;
    background: whitesmoke;
    transition: ease-in-out 0.3s;
}

nav ul a img#logo{
    position: relative;
    display: block;
    margin-top: -15px;
    width: 50px;
    height: 50px;
    float: left;
    padding-left: 50px;
}

nav ul a#logo:hover{
    color: whitesmoke;
    border-bottom: transparent;
    background: transparent;
}

nav ul{
    display: inline-block;
    text-decoration: none;
    margin-top: 15px;
}

nav ul li{
    display: inline-block;
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    margin: 25px;
    color: whitesmoke;
    font-size: 18px;
    letter-spacing: 3px;
}

/* Main Content Section */

.h1container{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-family: 'Staatliches', cursive;
    margin-top: 25px;
    letter-spacing: 5px;
    color: whitesmoke;
    border-bottom: 2px solid #ff4747;
}

.columncontainers{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 75px;
}

.leftcolumn{
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: column;
    max-width: 400px;
    min-height: 550px;
    border-radius: 30px;
    background: #954141;
    box-shadow:  -20px 20px 60px #7f3737, 
             20px -20px 60px #ab4b4b;
}

.leftcolumn .buttonscontainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.leftcolumn h3{
    text-align: center;
    margin: 20px 0px;
    font-family: 'Staatliches', cursive;
    color: whitesmoke;
    letter-spacing: 3px;
}

.leftcolumn h3 span{
    color: #ff4747;
}

.leftcolumn p{
    padding: 0px 20px 20px 20px;
    font-family: 'Staatliches', cursive;
    color: whitesmoke;
}

.leftcolumn .buttonscontainer button{
    margin-bottom: 15px;
    font-family: 'Staatliches', cursive;
    background: transparent;
    border: transparent;
    padding: 10px 0px;
}

.leftcolumn .buttonscontainer button a{
    padding: 8px 60px;
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
    font-size: 24px;
    width: 100%;
    height: 100%;
    border: 2px whitesmoke solid;
}

.leftcolumn .buttonscontainer button a:hover{
    transition: ease-in-out 0.2s;
    background: whitesmoke;
    color: #ff4747;
    border-bottom-color: #ff4747;
    border-left-color: #ff4747;
    border-bottom-width: 5px;
    border-left-width: 5px;
}

.leftcolumn img{
    padding: 15px;
    border-radius: 50px;
    width: 350px;
    height: 350px;
    margin: 0 auto;
}

.rightcolumn{
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: column;
    max-width: 400px;
    min-height: 550px;
    border-radius: 30px;
    background: #954141;
    box-shadow:  20px 20px 60px #7f3737, 
             -20px -20px 60px #ab4b4b;
}

.rightcolumn .buttonscontainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.rightcolumn h3{
    text-align: center;
    margin: 20px 0px;
    font-family: 'Staatliches', cursive;
    color: whitesmoke;
    letter-spacing: 3px;
}

.rightcolumn h3 span{
    color: #ff4747;
}

.rightcolumn p{
    padding: 0px 20px 20px 20px;
    font-family: 'Staatliches', cursive;
    color: whitesmoke;

}

.rightcolumn .buttonscontainer button{
    margin-bottom: 15px;
    font-family: 'Staatliches', cursive;
    background: transparent;
    border: transparent;
    padding: 10px 0px;
}

.rightcolumn .buttonscontainer button a{
    padding: 8px 60px;
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
    font-size: 24px;
    width: 100%;
    height: 100%;
    border: 2px whitesmoke solid;
}

.rightcolumn .buttonscontainer button a:hover{
    transition: ease-in-out 0.2s;
    background: whitesmoke;
    color: #ff4747;
    border-bottom-color: #ff4747;
    border-left-color: #ff4747;
    border-bottom-width: 5px;
    border-left-width: 5px;
}

.rightcolumn img{
    padding: 15px;
    border-radius: 50px;
    width: 300px;
    height: 400px;
    margin: 0 auto;
}

/* Footer Section */

footer{
    width: 100%;
    height: 13%;
    background: black;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    align-items: center;
    box-sizing: border-box;
}

footer .leftcolumn2{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

footer .middlecolumn{
    width: 33%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 2;
}

footer .rightcolumn2{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 2;
    margin-right: 50px;
}

footer .leftcolumn2 h3{
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;

}

footer .rightcolumn2 i{
    color: whitesmoke;
    font-size: 28px;
    margin: 0px 30px 0px 30px;
}

footer .middlecolumn h4{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    opacity: 0.3;
    color: #ff4747;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}

footer .leftcolumn2 img{
    max-width: 170px;
    max-height: 170px;

}

footer .rightcolumn2 i:hover{
    opacity: 1;
    transition: ease-in-out 0.3s;
    transform: scale(1.3);
    color: #ff4747;
}

footer .leftcolumn2 img:hover{
    transition: ease-in-out 0.5s;
    transform: scale(1.1);
}

footer .middlecolumn h4 span{
    color: whitesmoke;
}

footer .footerbg{
    position: absolute;
    display: block;
    z-index: 1;
    background: black;
    background-size: contain;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter: blur(5px);
}