@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Staatliches&display=swap');
*{
    padding: 0px;
    margin: 0px;
}

body{
    background: #954141;
    animation: fadein 1s normal;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Popins',sans-serif;
}

@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* Custom Scroll Bar */

body::-webkit-scrollbar{
    width: .2em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 20px whitesmoke;
}

body::-webkit-scrollbar-thumb {
    background-color: #ff4747;
}

/* Navigation Section */

nav{
    position: relative;
    display: flex;
    width: 100vw;
    height: 70px;
    z-index: 2;
    text-align: center;
    justify-content: center;
    background: #020105;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.3);
    flex-direction: column;
}

nav ul a{
    width: 100%;
    height: 100%;
    padding: 0px 5px;
}

nav ul a:hover{
    color: #ff4747;
    border-bottom: 2px #ff4747 solid;
    background: whitesmoke;
    transition: ease-in-out 0.3s;
}

nav ul a#logo:hover{
    color: whitesmoke;
    border-bottom: transparent;
    background: transparent;
}

nav ul{
    display: inline-block;
    text-decoration: none;
}

nav ul button#hamburgerMenu{
    display: none;
}

nav ul li{
    display: inline-block;
    text-align: center;
}

nav ul li#logo img#logo{
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    left: 1%;
    top: 15%;
}

nav ul li a{
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    margin: 25px;
    color: whitesmoke;
    font-size: 18px;
    letter-spacing: 3px;
}

.hamburgerMenuOverlay{
    display: none;
}

.hamburgerMenuOverlay .hamburgerMenuContainer ul button i{
    color: whitesmoke;
}


/* Main Content Section */

.space{
    height: 20vh;
}

.h1container{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-size: 40.5px;
    /* font-family: 'Staatliches', cursive; */
    margin-top: 50px;
    letter-spacing: 5px;
    color: whitesmoke;
    border-bottom: 2px solid #ff4747;
}

.columncontainers{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
}

.leftcolumn2{
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: column;
    max-width: 400px;
    min-height: 550px;
    border-radius: 30px;
    background: #954141;
    box-shadow:  -20px 20px 60px #7f3737, 
             20px -20px 60px #ab4b4b;
}

.leftcolumn2 .buttonscontainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.leftcolumn2 h3{
    text-align: center;
    margin: 20px 0px;
    /* font-family: 'Staatliches', cursive; */
    color: whitesmoke;
    letter-spacing: 3px;
}

.leftcolumn2 h3 span{
    color: #ff4747;
}

.leftcolumn2 p{
    padding: 0px 20px 20px 20px;
    /* font-family: 'Staatliches', cursive; */
    color: whitesmoke;
    word-spacing: 3px;
    text-align:center;
}

.leftcolumn2 .buttonscontainer button{
    margin-bottom: 15px;
    /* font-family: 'Staatliches', cursive; */
    background: transparent;
    border: transparent;
    padding: 10px 0px;
}

.leftcolumn2 .buttonscontainer button a{
    padding: 8px 60px;
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
    font-size: 24px;
    width: 100%;
    height: 100%;
    border: 2px whitesmoke solid;
}

.leftcolumn2 .buttonscontainer button a:hover{
    transition: ease-in-out 0.2s;
    background: whitesmoke;
    color: #ff4747;
    border-bottom-color: #ff4747;
    border-left-color: #ff4747;
    border-bottom-width: 5px;
    border-left-width: 5px;
}

.leftcolumn2 img{
    padding: 15px;
    border-radius: 50px;
    width: 90%;
    height: 90%;
    margin: 0 auto;
}

.rightcolumn2{
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: column;
    max-width: 400px;
    min-height: 550px;
    border-radius: 30px;
    background: #954141;
    box-shadow:  20px 20px 60px #7f3737, 
             -20px -20px 60px #ab4b4b;
}

.rightcolumn2 .buttonscontainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.rightcolumn2 h3{
    text-align: center;
    margin: 20px 0px;
    /* font-family: 'Staatliches', cursive; */
    color: whitesmoke;
    letter-spacing: 3px;
}

.rightcolumn2 h3 span{
    color: #ff4747;
}

.rightcolumn2 p{
    padding: 0px 20px 20px 20px;
    /* font-family: 'Staatliches', cursive; */
    color: whitesmoke;
    word-spacing: 3px;
    text-align:center;
}

.rightcolumn2 .buttonscontainer button{
    margin-bottom: 15px;
    /* font-family: 'Staatliches', cursive; */
    background: transparent;
    border: transparent;
    padding: 10px 0px;
}

.rightcolumn2 .buttonscontainer button a{
    padding: 8px 60px;
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
    font-size: 24px;
    width: 100%;
    height: 100%;
    border: 2px whitesmoke solid;
}

.rightcolumn2 .buttonscontainer button a:hover{
    transition: ease-in-out 0.2s;
    background: whitesmoke;
    color: #ff4747;
    border-bottom-color: #ff4747;
    border-left-color: #ff4747;
    border-bottom-width: 5px;
    border-left-width: 5px;
}

.rightcolumn2 img{
    padding: 15px;
    border-radius: 50px;
    width: 90%;
    height: 90%;
    margin: 0 auto;
}

/* Footer Section */

footer{
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    align-items: center;
    box-sizing: border-box;
}

footer .leftcolumn{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

footer .middlecolumn{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 2;

}

footer .rightcolumn{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 2;
    margin-right: 50px;
}

footer .leftcolumn h3{
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;

}

footer .rightcolumn i{
    color: whitesmoke;
    font-size: 28px;
    margin: 0px 30px 0px 30px;
}

footer .middlecolumn h4{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    opacity: 0.3;
    color: #ff4747;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 5.5%;
}

footer .leftcolumn img{
    max-width: 170px;
    max-height: 170px;

}

footer .rightcolumn i:hover{
    opacity: 1;
    transition: ease-in-out 0.3s;
    transform: scale(1.3);
    color: #ff4747;
    cursor: pointer;
}

footer .leftcolumn img:hover{
    transition: ease-in-out 0.5s;
    transform: scale(1.1);
}

footer .middlecolumn h4 span{
    color: whitesmoke;
}

footer .footerbg{
    position: absolute;
    display: block;
    z-index: 1;
    background: black;
    background-size: contain;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter: blur(5px);
}

/* Media Queries */

@media only screen and (max-width: 1024px){
    footer .middlecolumn h4{
        margin-top: 10%;
    }

    .leftcolumn2 .buttonscontainer button a{
        padding: 8px 50px;
    }

    .rightcolumn2 .buttonscontainer button a{
        padding: 8px 50px;
    }

    .leftcolumn2{
        width: 40%;
    }

    .rightcolumn2{
        width: 40%;
    }
}

@media only screen and (max-width: 768px){
    
    .leftcolumn2{
        width: 45%;
    }

    .rightcolumn2{
        width: 45%;
    }

    footer .rightcolumn{
        margin-right: 5px;
    }

    footer .rightcolumn a i{
        font-size: 18px;
    }

    footer .rightcolumn a{
        margin: 0px;
    }

    footer .rightcolumn i{
        margin-right: 10px;
    }

    #toTopButton{
        display: none;
    }

    footer .middlecolumn h4{
        margin-top: 15%;
    }
}

@media only screen and (max-width: 480px){

    .columncontainers{
        flex-direction: column;
    }

    .leftcolumn2{
        width: 90%;
        margin-bottom: 50px;
    }

    .rightcolumn2{
        width: 90%;
    }

    footer{
        height: 10vh;
    }

    footer .leftcolumn img{
        width: 75px;
        height: 65px;
    }

    footer .rightcolumn{
        margin-right: 0px;
    }

    footer .rightcolumn a i{
        font-size: 18px;
    }

    footer .rightcolumn a{
        margin: 0px;
        padding: 0px;
    }

    footer .rightcolumn i{
        margin: 0px 5px 0px 5px;
    }
    footer .middlecolumn h4{
        font-size: 12px;
        margin-top: 8vh;
    }

    nav ul a img#logo{
        width: 50px;
        height: 50px;
        padding-left: 20px;
        margin-top: -15px;
    }

    nav ul li a{
        display: none;
    }

    nav ul li#logo a#logo{
        display: block;
    }

    nav ul li#logo img#logo{
        display: block;
        top: 40%;
        left: 0%;
        width: 40px;
        height: 40px;
    }

    nav ul a#logo{
        float: left;
    }

    nav ul button#hamburgerMenu{
        display: inline-block;
        position: absolute;
        background: transparent;
        border: transparent;
        right: 5%;
        top: 25%;
        font-size: 18px;
        color: whitesmoke;
    }

    .hamburgerMenuOverlay{
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
    }

    .hamburgerMenuOverlay.active{
        display: block;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100%;
        background: black;
        z-index: 6;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
    }

    .hamburgerMenuOverlay.active .hamburgerMenuContainer{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;

    }

    .hamburgerMenuOverlay.active .hamburgerMenuContainer ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hamburgerMenuContainer ul li{
        text-decoration: none;
        list-style-type: none;
        text-align: center;
        border: 2px whitesmoke solid;
        padding: 15px;
        width: 100%;
        margin: 10px 0px;
    }

    .hamburgerMenuContainer ul li a#hamburgerMenu{
        text-decoration: none;
        font-size: 48px;
        font-family: 'Staatliches', cursive;
        letter-spacing: 5px;
        color: whitesmoke;
        width: 100%;
        text-align: center;

    }

    button#hamburgerMenuButtonClosing{
        display: block;
        position: absolute;
        top: 0%;
        right: 6%;
        background: transparent;
        border: transparent;
        padding: 15px;
        font-size: 36px;
    }

    .newsoverlay{
        width: 90vw;
        margin: 0 auto;
    }

    .news-left-col h2{
        font-size: 18px;
    }

    .news-right-col p{
        padding: 2% 5% 2% 5%;
        font-size: 12px;
    }

}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
  }

}

@media only screen and (max-width: 425px){
    body{
        overflow-x: hidden;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 400px){
    footer .middlecolumn h4{
        font-size: 8px;
    }
}