/* Font Imports and Global Specifications */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Staatliches&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

/* Scroll Behavious */

html{
    scroll-behavior: smooth;
}

/* Fade-In Animation and hide Horizontal Overflow */

body{
    /*background: linear-gradient(125deg, rgba(255,80,80,1) 0%, rgba(135,70,255,1) 100%);*/
    background: black;
    overflow-x: hidden;
    animation: fadein 1s normal;
    box-sizing: border-box;
    
}

@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* Custom Scroll Bar */

body::-webkit-scrollbar{
    width: .2em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 20px whitesmoke;
}

body::-webkit-scrollbar-thumb {
    background-color: #ff4747;
}

/* Navigation Section */

nav{
    position: relative;
    display: flex;
    width: 100vw;
    height: 70px;
    z-index: 2;
    text-align: center;
    justify-content: center;
    background: #020105;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.3);
    flex-direction: column;
}

nav ul a{
    width: 100%;
    height: 100%;
    padding: 0px 5px;
}

nav ul a:hover{
    color: #ff4747;
    border-bottom: 2px #ff4747 solid;
    background: whitesmoke;
    transition: ease-in-out 0.3s;
}

nav ul a#logo:hover{
    color: whitesmoke;
    border-bottom: transparent;
    background: transparent;
}

nav ul{
    display: inline-block;
    text-decoration: none;
}

nav ul button#hamburgerMenu{
    display: none;
}

nav ul li{
    display: inline-block;
    text-align: center;
}

nav ul li#logo img#logo{
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    left: 1%;
    top: 15%;
}

nav ul li a{
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    margin: 25px;
    color: whitesmoke;
    font-size: 18px;
    letter-spacing: 3px;
}

.hamburgerMenuOverlay{
    display: none;
}

/* Main Content Section */

.main{
    width: 100vw;
    height: 94vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.main .mainoverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 0;
    opacity: 0.55;
}

.main .mainimage{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
    background-image: url(../src/images/mainimgmessi.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}

.main .mainimage h3 span{
    color: #ff4747;
}

.main .mainimage h4 span{
    color: #ff4747;
}

.main .mainimage img{
    display: block;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.main h3,h4,button{
    position: absolute;
    z-index: 5;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

.main h3{
    right: 5%;
    top: 70%;
    z-index: 1;
    font-size: 36px;
}

.main h4{
    right: 5%;
    top: 77%;
    font-size: 20px;
}

.main button{
    right: 5%;
    top: 85%;
}

.main .mainimage button#btn{
    background: transparent;
    border: transparent;
    letter-spacing: 2px;
    font-size: 18px;
    padding: 5px 5px;
}

.main .mainimage button#btn a{
    text-decoration: none;
    color: whitesmoke;
    padding: 5px;
    font-weight: 300;

}

.main .mainimage button#btn a:hover{
    transition: ease-in-out 0.3s;
    color: #ff4747;
    background: whitesmoke;
    border-bottom: 2px #ff4747 solid;
    font-weight: 700;
}

/* History/Timeline Section */

.history{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #050216;
    font-family: 'Poppins', sans-serif;
}

.history .historyoverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../src/images/smokebetter.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    filter: blur(10px);
}

.history .absolutetext{
    display: relative;
    position: absolute;
    max-width: 1200px;
    max-height: 400px;
    color: whitesmoke;
}

.history .absolutetext h1{
    font-size: 150px;
    transform: rotate(90deg);
}

.history .absolutetext h1#brief{
    transform: rotate(270deg);
    position: absolute;
    right: 83.5%;
    top: -20%;
}

.history .absolutetext h1#dummy{
    transform: rotate(90deg);
    visibility: hidden;
}

.history .absolutetext h1#history{
    position: absolute;
    left: 93.5%;
    top: 0%;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
  
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: whitesmoke;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
  
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    min-width: 400px;
}
  
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #ff4747;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
  
.left {
    left: -50.3%;
}
  
.right {
    left: 50%;
}
  
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}
  
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
  
.right::after {
    left: -16px;
}
  
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.content h2{
    color: #ff4747;
    font-family: 'Poppins', sans-serif;
}

.content p{
    font-family: 'Poppins', sans-serif;
}
  
/* Events Section */

.events{
    width: 100vw;
    height: 50vh;
}

.events .eventsoverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: black;
    opacity: 0.8;
}

.events .eventscontainer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: url(../src/images/stadiumbetter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    flex-direction: column;
}

.events .eventscontainer h1{
    z-index: 3;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;

}

/* Date Container */

.date-container{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    z-index: 3;
    font-family: 'Poppins', sans-serif;

}

/* Days / Minutes / Hours / Seconds */

.date-container .days-container, .minutes-container, .hours-container, .seconds-container{
    margin: 10px 50px;
    font-size: 72px;
}

.date-container .days-container p, .minutes-container p, .hours-container p, .seconds-container p{
    font-size: 36px;
}

button#tickets{
    font-weight: 700;
    position: absolute;
    top:80%;
    bottom: 10%;
    background: transparent;
    letter-spacing: 2px;
    font-size: 24px;
    padding: 5px 5px;
    border: transparent;
}

button#tickets a{
    text-decoration: none;
    color: whitesmoke;
    padding: 5px;
    border: 1px solid whitesmoke;

}

button#tickets a:hover{
    transition: ease-in-out 0.3s;
    color: #ff4747;
    background: whitesmoke;
    border-bottom: 2px #ff4747 solid;
}

/* Footer Section */

footer{
    width: 100%;
    background: black;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    align-items: center;
    box-sizing: border-box;
}

footer .leftcolumn{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

footer .middlecolumn{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 2;
}

footer .rightcolumn{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 2;
    margin-right: 50px;
}

footer .leftcolumn h3{
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;

}

footer .rightcolumn i{
    color: whitesmoke;
    font-size: 28px;
    margin: 0px 30px 0px 30px;
}

footer .middlecolumn h4{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    opacity: 0.3;
    color: #ff4747;
    justify-content: center;
    align-items: center;    
    margin-top: 8%;
}

footer .leftcolumn img{
    max-width: 170px;
    max-height: 170px;

}

footer .rightcolumn i:hover{
    opacity: 1;
    transition: ease-in-out 0.3s;
    transform: scale(1.3);
    color: #ff4747;
    cursor: pointer;
}

footer .leftcolumn img:hover{
    transition: ease-in-out 0.5s;
    transform: scale(1.1);
}

footer .middlecolumn h4 span{
    color: whitesmoke;
}

footer .footerbg{
    position: absolute;
    display: block;
    z-index: 1;
    background: black;
    background-size: contain;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter: blur(5px);
}

/* Media Queries */

@media only screen and (min-width: 1440px){
    .mainimage{
        background-size: cover;
    }
}

@media only screen and (max-width: 1024px){
    .main .mainimage{
        background-size: cover;
    }
    .history .absolutetext{
        display: none;
    }
    footer .middlecolumn h4{
        margin-top: 10%;
    }
}

@media only screen and (max-width: 768px){
    .main .mainimage h4{
        font-size: 14px;
    }
    .timeline{
        max-width: 768px;
    }
    .container.left{
        min-width: 300px;
    }

    .left{
        left: -40%;
    }

    .container.right{
        min-width: 300px;
    }
    
    footer .rightcolumn{
        margin-right: 5px;
    }

    footer .rightcolumn a i{
        font-size: 18px;
    }

    footer .rightcolumn a{
        margin: 0px;
    }

    footer .rightcolumn i{
        margin-right: 10px;
    }

    #toTopButton{
        display: none;
    }

    footer .middlecolumn h4{
        margin-top: 15%;
    }
}

@media only screen and (max-width: 480px){
    .main .mainimage img{
        background-size: auto;
        background-position: left;
    }

    .main .mainimage h3{
        font-size: 28px;
        top: 75%;
    }

    .main .mainimage h4{
        font-size: 12px;
        right: 0%;
        left: 23%;
        top: 80%;
    }

    .timeline{
        max-width: 425px;
    }

    .timeline .container.left{
        min-width: 150px;
    }

    .timeline .container.right{
        min-width: 150px;
    }

    .events .eventscontainer h1{
        font-size: 24px;
        text-align: center;
    }

    .events .eventscontainer .date-container .days-container, .minutes-container, .hours-container, .seconds-container{
        font-size: 24px;
        margin: 10px 20px;
    }

    .events .eventscontainer .date-container .days-container p, .minutes-container p, .hours-container p, .seconds-container p{
        font-size: 18px;
    }

    footer{
        height: 10vh;
    }

    footer .leftcolumn img{
        width: 75px;
        height: 65px;
    }

    footer .rightcolumn{
        margin-right: 0px;
    }

    footer .rightcolumn a i{
        font-size: 18px;
    }

    footer .rightcolumn a{
        margin: 0px;
        padding: 0px;
    }

    footer .rightcolumn i{
        margin: 0px 5px 0px 5px;
    }
    footer .middlecolumn h4{
        font-size: 12px;
    }

    footer .middlecolumn h4{
        margin-top: 20%;
    }

    .content{
        padding: 5px 10px;
    }

    .content h2{
        font-size: 14px;
    }

    .content p{
        font-size: 12px;
    }

    .left{
        left: -26%;
    }

    nav ul a img#logo{
        width: 50px;
        height: 50px;
        padding-left: 20px;
        margin-top: -15px;
    }

    nav ul li a{
        display: none;
    }

    nav ul li#logo a#logo{
        display: block;
    }

    nav ul li#logo img#logo{
        display: block;
        top: 40%;
        left: 0%;
        width: 40px;
        height: 40px;
    }

    nav ul a#logo{
        float: left;
    }

    nav ul button#hamburgerMenu{
        display: inline-block;
        position: absolute;
        background: transparent;
        border: transparent;
        right: 5%;
        top: 25%;
        font-size: 18px;
    }

    .hamburgerMenuOverlay{
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
    }

    .hamburgerMenuOverlay.active{
        display: block;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100%;
        background: black;
        z-index: 6;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
    }

    .hamburgerMenuOverlay.active .hamburgerMenuContainer{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;

    }

    .hamburgerMenuOverlay.active .hamburgerMenuContainer ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hamburgerMenuContainer ul li{
        text-decoration: none;
        list-style-type: none;
        text-align: center;
        border: 2px whitesmoke solid;
        padding: 15px;
        width: 100%;
        margin: 10px 0px;
    }

    .hamburgerMenuContainer ul li a#hamburgerMenu{
        text-decoration: none;
        font-size: 48px;
        font-family: 'Staatliches', cursive;
        letter-spacing: 5px;
        color: whitesmoke;
        width: 100%;
        text-align: center;

    }

    button#hamburgerMenuButtonClosing{
        display: block;
        position: absolute;
        top: 0%;
        right: 6%;
        background: transparent;
        border: transparent;
        padding: 15px;
        font-size: 36px;
    }

}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
  }

}

@media only screen and (max-width: 425px){
    body{
        overflow-x: hidden;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 400px){
    .timeline .container.left{
        min-width: 50px;
        max-width: 120px;
    }

    .timeline .container.right{
        min-width: 50px;
        max-width: 120px;
    }

    .left{
        left: -40%;
    }

    .events .eventscontainer h1{
        font-size: 18px;
    }

    button#tickets{
        font-size: 18px;
        top: 60%;
    }

    footer .middlecolumn h4{
        font-size: 8px;
    }
}
