@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: black;
    animation: fadein normal 2s;
}

@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.background{
    display: flex;
    width: 100vw;
    height: 100vh;
    /*background: radial-gradient(circle, rgba(135,70,255,1) 0%, rgba(255,80,80,1) 100%);*/
    opacity: 0.1;
    filter: blur(250px);
}

.container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.container img{
    width: 400px;
    height: 300px;
}

.container h3{
    transform: translateY(-450%);
    font-size: 24px;
    font-family: 'Staatliches', cursive;
    color: whitesmoke;
    letter-spacing: 5px;
    animation: textanimation normal 5s;
    animation: textanimation2 infinite 2s;
}

.container img#img2{
    transform: translateY(-80%);
}

.container img#img1{
    animation: animation1 normal 3s;
}

.container img#img2{
    animation: animation2 normal 2.5s;
}

@keyframes textanimation2 {
    0%{
        opacity: 0.2;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.2;
    }
}

@keyframes textanimation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes animation1{
    0%{
        opacity: 0;
        transform: translateY(-90%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes animation2{
    0%{
        opacity: 0;
        transform: translateY(150%);
    }
    100%{
        opacity: 1;
        transform: translateY(-80%);
    }
}