/* Font Imports and Global Specifications */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Staatliches&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Popins',sans-serif;
    animation: 1s normal fadein;
    background: #f1f1f1;
    box-sizing: border-box;
    overflow-x: hidden;
}

@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* Custom Scroll Bar */

body::-webkit-scrollbar{
    width: .2em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 20px whitesmoke;
}

body::-webkit-scrollbar-thumb {
    background-color: #ff4747;
}

/* Navigation Section */

nav{
    position: relative;
    display: flex;
    width: 100vw;
    height: 70px;
    z-index: 2;
    text-align: center;
    justify-content: center;
    background: #020105;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.3);
    flex-direction: column;
}

nav ul a{
    width: 100%;
    height: 100%;
    padding: 0px 5px;
}

nav ul a:hover{
    color: #ff4747;
    border-bottom: 2px #ff4747 solid;
    background: whitesmoke;
    transition: ease-in-out 0.3s;
}

nav ul a#logo:hover{
    color: whitesmoke;
    border-bottom: transparent;
    background: transparent;
}

nav ul{
    display: inline-block;
    text-decoration: none;
}

nav ul button#hamburgerMenu{
    display: none;
}

nav ul li{
    display: inline-block;
    text-align: center;
}

nav ul li#logo img#logo{
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    left: 1%;
    top: 15%;
}

nav ul li a{
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    margin: 25px;
    color: whitesmoke;
    font-size: 18px;
    letter-spacing: 3px;
}

.hamburgerMenuOverlay{
    display: none;
}

/* Main section */

marquee{
    margin: 2% 0 0 0;
}

marquee span{
    color: #ff4747;
}

.space{
    height: 20vh;
}

.container{
    margin: 2% 0 2% 0;
    /* max-width: 100%;
    width: 1400px;
    height: 100%; */
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: center;
    
}

.title{
    margin: 2% 15% 2% 15%;
    /* max-width: 100%;
    width: 1400px;
    height: 100%; */
    font-style: normal;
}

.title h2{
    font-size: 36px;
    
}



.all-news{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 15px;
    /* width: 80%;
    max-width: 1200px;
    margin: auto; */
}

.news-container{
    background-color: #ffffff;
    
}

.news-container img{
    width: 90%;
    padding: 15px 0 15px 0;
    transition: transform 0.5s;
    padding: 5%;
}

.news-container h2{
    color:#2b3542;
    padding: 2%;
    text-align: center;
}

.news-container p{
    color:#2b3542;
    padding: 2%;
}

.btn{
    margin: 2%;
    background: transparent;
    border: transparent;
    
}

.btn a{
    text-decoration: none;
    text-align: center;
    color: #2b3542;
    /* border: 1px #2b3542 solid; */
    font-size: 16px;
    font-family: 'Staatliches', cursive;

}

button a:hover{
    transition: ease-in-out 0.2s;
    background: whitesmoke;
    color: #ff4747;
    border: 1px solid;
    border-bottom-color: #ff4747;
    border-left-color: #ff4747;
    border-top: none;
    border-right: none;
    border-bottom-width: 5px;
    border-left-width: 5px;
}


.newsoverlay{
    /* width: 80%;*/
    margin: 0 0 0 5%; 
    text-align: justify;
   
}

.newsoverlay-all{
    /* min-width: 70%;
    max-width: 70%; */
}

.news-columns{
        background-color: white;

}

.news-left-col img{
/* width: 700px;
height: 367px; */
width: 70%;
padding: 5% 15% 0 15%;
margin: auto;
display: block;
}

.news-left-col h2{
    color:#2b3542;
    padding: 2% 10% 2% 10%;
    text-align: center;
}

.news-right-col p{
    color:#2b3542;
    padding: 2% 10% 2% 10%;
}

.fa-times{
    margin-left:0;
}

.closeBtn{
    margin-top: 5px;
    border: none;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
    background-color: #f1f1f1;
}

.closeBtn:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.2);
}

.hide{
    animation-name: a1;
     /* opacity: 1;
    animation-duration: 0.5s; */
    animation-fill-mode: forwards;
    display: none;
  }

/* .result{
    margin-bottom: 30%;
} */

  @keyframes a1{
      from{
          visibility: visible;
      }
      to{
          visibility: hidden;
          min-height: 0;
          max-width: 0;
          margin:0;
          width: 0;
          height: 0;
          font-size: 0;
      }
}

/* Footer Section */

footer{
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    align-items: center;
    box-sizing: border-box;
}

footer .leftcolumn{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

footer .middlecolumn{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 2;

}

footer .rightcolumn{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 2;
    margin-right: 50px;
}

footer .leftcolumn h3{
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;

}

footer .rightcolumn i{
    color: whitesmoke;
    font-size: 28px;
    margin: 0px 30px 0px 30px;
}

footer .middlecolumn h4{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    opacity: 0.3;
    color: #ff4747;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 5.5%;
}

footer .leftcolumn img{
    max-width: 170px;
    max-height: 170px;

}

footer .rightcolumn i:hover{
    opacity: 1;
    transition: ease-in-out 0.3s;
    transform: scale(1.3);
    color: #ff4747;
}

footer .leftcolumn img:hover{
    transition: ease-in-out 0.5s;
    transform: scale(1.1);
}

footer .middlecolumn h4 span{
    color: whitesmoke;
}

footer .footerbg{
    position: absolute;
    display: block;
    z-index: 1;
    background: black;
    background-size: contain;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter: blur(5px);
}

/* Media Queries */

@media only screen and (max-width: 1024px){
    footer .middlecolumn h4{
        margin-top: 10%;
    }
}

@media only screen and (max-width: 768px){
    .main .mainimage h4{
        font-size: 14px;
    }
    .timeline{
        max-width: 768px;
    }
    .container.left{
        min-width: 300px;
    }

    .left{
        left: -40%;
    }

    .container.right{
        min-width: 300px;
    }
    
    footer .rightcolumn{
        margin-right: 5px;
    }

    footer .rightcolumn a i{
        font-size: 18px;
    }

    footer .rightcolumn a{
        margin: 0px;
    }

    footer .rightcolumn i{
        margin-right: 10px;
    }

    #toTopButton{
        display: none;
    }

    footer .middlecolumn h4{
        margin-top: 15%;
    }
}

@media only screen and (max-width: 480px){
    footer{
        height: 10vh;
    }

    footer .leftcolumn img{
        width: 75px;
        height: 65px;
    }

    footer .rightcolumn{
        margin-right: 0px;
    }

    footer .rightcolumn a i{
        font-size: 18px;
    }

    footer .rightcolumn a{
        margin: 0px;
        padding: 0px;
    }

    footer .rightcolumn i{
        margin: 0px 5px 0px 5px;
    }
    footer .middlecolumn h4{
        font-size: 12px;
        margin-top: 8vh;
    }

    nav ul a img#logo{
        width: 50px;
        height: 50px;
        padding-left: 20px;
        margin-top: -15px;
    }

    nav ul li a{
        display: none;
    }

    nav ul li#logo a#logo{
        display: block;
    }

    nav ul li#logo img#logo{
        display: block;
        top: 40%;
        left: 0%;
        width: 40px;
        height: 40px;
    }

    nav ul a#logo{
        float: left;
    }

    nav ul button#hamburgerMenu{
        display: inline-block;
        position: absolute;
        background: transparent;
        border: transparent;
        right: 5%;
        top: 25%;
        font-size: 18px;
        color: whitesmoke;
    }

    .hamburgerMenuOverlay{
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
    }

    .hamburgerMenuOverlay.active{
        display: block;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100%;
        background: black;
        z-index: 6;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
    }

    .hamburgerMenuOverlay.active .hamburgerMenuContainer{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;

    }

    .hamburgerMenuOverlay.active .hamburgerMenuContainer ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hamburgerMenuContainer ul li{
        text-decoration: none;
        list-style-type: none;
        text-align: center;
        border: 2px whitesmoke solid;
        padding: 15px;
        width: 100%;
        margin: 10px 0px;
    }

    .hamburgerMenuContainer ul li a#hamburgerMenu{
        text-decoration: none;
        font-size: 48px;
        font-family: 'Staatliches', cursive;
        letter-spacing: 5px;
        color: whitesmoke;
        width: 100%;
        text-align: center;

    }

    button#hamburgerMenuButtonClosing{
        display: block;
        position: absolute;
        top: 0%;
        right: 6%;
        background: transparent;
        border: transparent;
        padding: 15px;
        font-size: 36px;
    }

    .newsoverlay{
        width: 90vw;
        margin: 0 auto;
    }

    .news-left-col h2{
        font-size: 18px;
    }

    .news-right-col p{
        padding: 2% 5% 2% 5%;
        font-size: 12px;
    }

}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
  }

}

@media only screen and (max-width: 425px){
    body{
        overflow-x: hidden;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 400px){
    footer .middlecolumn h4{
        font-size: 8px;
    }
}