/* Font Imports and Global Specifications */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Staatliches&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Popins',sans-serif;
}

a{
    text-decoration: none;
    color: #555;
}

/* Navigation Section */

nav{
    position: relative;
    display: flex;
    width: 100%;
    height: 70px;
    z-index: 2;
    text-align: center;
    justify-content: center;
    background: #020105;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.3);
    flex-direction: column;
    position: fixed; 
    top:0;
}

nav ul a{
    width: 100%;
    height: 100%;
    padding: 0px 5px;
}

nav ul a:hover{
    color: black;
    border-bottom: 2px #ff4747 solid;
    background: whitesmoke;
    transition: ease-in-out 0.3s;
}

nav ul a img#logo{
    position: relative;
    display: block;
    margin-top: -15px;
    width: 50px;
    height: 50px;
    float: left;
    padding-left: 50px;
}

nav ul a#logo:hover{
    color: whitesmoke;
    border-bottom: transparent;
    background: transparent;
}

nav ul{
    display: inline-block;
    text-decoration: none;
    margin-top: 15px;
}

nav ul li{
    display: inline-block;
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    margin: 25px;
    color: whitesmoke;
    font-size: 18px;
    letter-spacing: 3px;
}

/*Header section*/

.header{
  
}

.header-main {
margin: 100px auto 30px;
}

.container{
    margin: 30px 30px;
    display: flex;
    }

.row-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 20px;
}

.row-2{
    display: flex;
   
}

.row-3{
    margin-bottom: 30px;
    text-align: center;
}

select{
    border: 1px solid #ff523b;
    padding: 5px;
    margin-bottom: 20px;
    margin-right: 50px;
}

select:focus{
    outline: none;
}

.col-1-categories{
    margin-left: 20px;
    margin-right: 40px;
    position: fixed;
    margin: 71.5px auto;

}

.col-1-categories span{
    display: list-item;
    list-style-type: none; 
    border: 1px solid #ff523b;
    margin-bottom: 30px;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    text-decoration: none;
}

.col-1-categories span:hover{
    background: #ff523b;
    color: #fff;
}

.col-2-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-2-items{
    display: flex;
}

.col-2{
    flex-basis: 25%;
    padding: 15px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-2 img{
    width: 100%;
}

.col-2 p{
    font-size: 14px;
}

.col-2:hover{
    transform: translateY(-5px);
}


.single-product{
    margin-top: 80px;
}

.single-product .col-2 img{
    padding: 20px;
}

.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 30%;
    cursor: pointer;
}