/* Font Imports and Global Specifications */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Staatliches&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Popins',sans-serif;
}

a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555;
}

/* Custom Scroll Bar */

body::-webkit-scrollbar{
    width: .2em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 20px whitesmoke;
}

body::-webkit-scrollbar-thumb {
    background-color: #ff4747;
}

/* Navigation Section */

nav{
    position: relative;
    display: flex;
    width: 100%;
    height: 70px;
    z-index: 2;
    text-align: center;
    justify-content: center;
    background: #020105;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.3);
    flex-direction: column;
    position: fixed; 
    top:0;
}

nav ul a{
    width: 100%;
    height: 100%;
    padding: 0px 5px;
}

nav ul a:hover{
    color: black;
    border-bottom: 2px #ff4747 solid;
    background: whitesmoke;
    transition: ease-in-out 0.3s;
}

nav ul a img#logo{
    position: relative;
    display: block;
    margin-top: -15px;
    width: 50px;
    height: 50px;
    float: left;
    padding-left: 50px;
}

nav ul a#logo:hover{
    color: whitesmoke;
    border-bottom: transparent;
    background: transparent;
}

nav ul{
    display: inline-block;
    text-decoration: none;
    margin-top: 15px;
}

nav ul li{
    display: inline-block;
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    margin: 25px;
    color: whitesmoke;
    font-size: 18px;
    letter-spacing: 3px;
}

.container {
    max-width: 80%;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 75px;
    margin-left: 150px;
    margin-right: 150px;
}

.row{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 70px;
}

.col{
    margin-top: 20px;
    flex-basis: 50%;
    min-width: 100px;
}

.col img{
    max-width: 55%;
    padding: 0px 0;
}

.col h1{
    font-size: 35px;
    line-height: 40px;
    margin-top: 25px;
}

.col h4{
    margin-top: 25px;
    font-size: 22px;
    font-weight: bold;
}

.col p{
    color: #555;
    margin-top: 25px;
}

.col p1{
    color: #555;
}

.small-img-row{
    display: flex;
    justify-content: flex-start;
    width: 60.4%;
}

.small-img-col{
    flex-basis: 25%;
    cursor: pointer;
}

select{
    border: 1px solid #ff523b;
    padding: 5px;
    margin-top: 25px;
    margin-right: 50px;
}

select:focus{
    outline: none;
}

.product-detail{
    margin-top: 25px;;
}