/* Font Imports and Global Specifications */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Staatliches&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Popins',sans-serif;
}

/* a{
    text-decoration: none;
    color: #555;
} */

/* Navigation Section */

nav{
    position: relative;
    display: flex;
    width: 100%;
    height: 70px;
    z-index: 2;
    text-align: center;
    justify-content: center;
    background: #020105;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.3);
    flex-direction: column;
    position: fixed; 
    top:0;
}

nav ul a{
    width: 100%;
    height: 100%;
    padding: 0px 5px;
}

nav ul a:hover{
    color: black;
    border-bottom: 2px #ff4747 solid;
    background: whitesmoke;
    transition: ease-in-out 0.3s;
}

nav ul a img#logo{
    position: relative;
    display: block;
    margin-top: -15px;
    width: 50px;
    height: 50px;
    float: left;
    padding-left: 50px;
}

nav ul a#logo:hover{
    color: whitesmoke;
    border-bottom: transparent;
    background: transparent;
}

nav ul{
    display: inline-block;
    text-decoration: none;
    margin-top: 15px;
}

nav ul li{
    display: inline-block;
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    margin: 25px;
    color: whitesmoke;
    font-size: 18px;
    letter-spacing: 3px;
}

/*Items section*/

.container{
    margin: 150px;
    }

.small-container p{
    font-size: 40px;
    margin-bottom: 20px;
}

.small-container hr{
    margin-top: 20px;
    margin-bottom: 20px;
}

.small-container-items{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 45px;
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.small-container-items img{
    width: 100%;
    object-fit: contain;
    flex-basis: 25%;
    padding: 15px;
    min-width: 200px;
    transition: transform 0.5s;
}

.item{
    text-align: center;
    overflow: hidden;
    
}

.item h4 {
    text-align: center;
}

.item p{
    text-align: center;
}

.item a{
    text-decoration: none;
    color: #555;
}

.item:hover{
    transform: translateY(-5px);
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 25px;

}

.sortBtn{
    border: 2px solid #004d98;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    text-decoration: none;
    background-color: white;
}

.sortBtn:hover {
    background: #004d98;
    color: #fff;
}

select{
    border: 1px solid #004d98;
    padding: 5px;
    margin-bottom: 20px;
    margin-right: 50px;
    float: right;
}

select:focus{
    outline: none;
}

span{
    display: inline;
    list-style-type: none; 
    border: 1px solid #004d98;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    text-decoration: none;
}

span:hover{
    background: #004d98;
    color: #fff;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 15px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(255, 255, 255); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  .hide{
      opacity: 1;
      animation-name: a1;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
  }

  @keyframes a1{
      to{
          opacity: 0;
          min-height: 0;
          min-width: 0;
          padding: 0;
          margin: 0;
          border:0;
      }
  }