/* Font Imports and Global Specifications */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Staatliches&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Popins',sans-serif;
    animation: 1s normal fadein;

}

html,body{
    height: 100%;
    position: relative;
    height:auto !important;
    min-height: 100%;
}

@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* Custom Scroll Bar */

body::-webkit-scrollbar{
    width: .2em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 20px whitesmoke;
}

body::-webkit-scrollbar-thumb {
    background-color: #ff4747;
}

/* a{
    text-decoration: none;
    color: #555;
} */

/* Navigation Section */

nav{
    position: relative;
    display: flex;
    width: 100%;
    height: 70px;
    z-index: 2;
    text-align: center;
    justify-content: center;
    background: #020105;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.3);
    flex-direction: column;
    position: fixed; 
    top:0;
}

nav ul a{
    width: 100%;
    height: 100%;
    padding: 0px 5px;
}

nav ul a:hover{
    color: #ff4747;
    border-bottom: 2px #ff4747 solid;
    background: whitesmoke;
    transition: ease-in-out 0.3s;
}

nav ul a img#logo{
    position: relative;
    display: block;
    margin-top: -15px;
    width: 50px;
    height: 50px;
    float: left;
    padding-left: 50px;
}

nav ul a#logo:hover{
    color: whitesmoke;
    border-bottom: transparent;
    background: transparent;
}

nav ul{
    display: inline-block;
    text-decoration: none;
    margin-top: 15px;
}

nav ul li{
    display: inline-block;
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    margin: 25px;
    color: whitesmoke;
    font-size: 18px;
    letter-spacing: 3px;
}

/*Items section*/

/* .container{
    margin: 100px 150px 150px 150px;
    height: auto;
} */

.container {
    max-width: 100%;
    width: 1400px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    margin-bottom: 5%;
    min-height: 70vh;
}

.small-container{
    max-width: 90%;
    width: 1400px;
    height: 100%;
    margin-left: 3%;
    margin-bottom: 2%;
}

.small-container p{
    font-size: 40px;
   
    vertical-align: middle;
}

.small-container hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* .small-container-2{
    display: flex;
} */

.search-form{
    margin-left: auto; 
    margin-right: 0;
}

.small-container-items{
    display: grid;
    /* grid-template-columns: repeat(auto-fit,minmax(250px,1fr)); */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.small-container-items img{
    width: 90%;
    object-fit: contain;
    flex-basis: 25%;
    padding: 15px;
    min-width: 200px;
    transition: transform 0.5s;
}

.item{
    text-align: center;
    overflow: hidden;
    
}

.item h4 {
    text-align: center;
    
}

p2{
    text-align: center;
    color: #a50044;
    font-weight: bold;
}

.item a{
    text-decoration: none;
    color: black;
}

.item a:hover{
    color: #004d98;
    transition: 0.2s ease-in-out;
}

.item:hover{
    transform: translateY(-10px);
    transition: 0.3s ease-in-out;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 25px;
   
}

p1{
    font-size: 18px;
}

.fa-search {
    color: #020105;
    
}

.fa-search i{
    font-size: 36px;
}

.fa-close{
    color: #020105;
}

input{
    font-size: 18px;
    margin-right: 5px;
}

.search-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.clearBtn{
    border: none;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    text-decoration: none;
    background-color: white;
    font-size: 18px;
}

.searchBtn {
    border: none;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    text-decoration: none;
    background-color: white;
    font-size: 18px;
}

.searchBtn:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.2);
}

.clearBtn:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.2);
}

.sortBtn{
    border: 2px solid #004d98;
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    text-decoration: none;
    background-color: white;
    font-size: 18px;
}

.sortBtn:hover {
    background: #004d98;
    color: #fff;
    transition: 0.2s ease-in-out;
}

.catBtn{
    border: 2px solid #a50044;
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    text-decoration: none;
    background-color: white;
    font-size: 18px;
}

.catBtn:hover {
    background: #a50044;
    color: #fff;
    transition: 0.2s ease-in-out;

}

i{
    color: #ea9d00;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 150px; /* Place the button at the bottom of the page */
    right: 35px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: white; /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 2px; /* Increase font size */
    transition: 0.3s ease-in-out;
  }
  
 button#myBtn i{
     font-size: 36px;
     color: black;

 }

  button#myBtn i::before{
      font-size: 36px;
      color: black;

  }

  button#myBtn i:hover {
    transition: 0.2s ease-in-out;
    background: #004D98;
    background: -webkit-linear-gradient(to right, #004D98 0%, #A50044 100%);
    background: -moz-linear-gradient(to right, #004D98 0%, #A50044 100%);
    background: linear-gradient(to right, #004D98 0%, #A50044 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    transform: scale(1.2);
  }

.hide{
    animation-name: a1;
     /* opacity: 1;
    animation-duration: 0.5s; */
    animation-fill-mode: forwards;
    display: none;
  }

/* .result{
    margin-bottom: 30%;
} */

  @keyframes a1{
      from{
          visibility: visible;
      }
      to{
          visibility: hidden;
          min-height: 0;
          max-width: 0;
          margin:0;
          width: 0;
          height: 0;
          font-size: 0;
      }
}

/* Footer Section */

footer{
    width: 100%;
    height: 13%;
    background: black;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    align-items: center;
    box-sizing: border-box;
}

footer .leftcolumn{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

footer .middlecolumn{
    width: 33%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 2;
}

footer .rightcolumn{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 2;
    margin-right: 50px;
}

footer .leftcolumn h3{
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;

}

footer .rightcolumn i{
    color: whitesmoke;
    font-size: 28px;
    margin: 0px 30px 0px 30px;
}

footer .middlecolumn h4{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    opacity: 0.3;
    color: #ff4747;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}

footer .leftcolumn img{
    max-width: 170px;
    max-height: 170px;

}

footer .rightcolumn i:hover{
    opacity: 1;
    transition: ease-in-out 0.3s;
    transform: scale(1.3);
    color: #ff4747;
}

footer .leftcolumn img:hover{
    transition: ease-in-out 0.5s;
    transform: scale(1.1);
}

footer .middlecolumn h4 span{
    color: whitesmoke;
}

footer .footerbg{
    position: absolute;
    display: block;
    z-index: 1;
    background: black;
    background-size: contain;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter: blur(5px);
}